{% extends "layout.html" %}

{% block otherstyle %}
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/account.css') }}" >
   
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container light-style flex-grow-1 py-5">
        

        <h4 class="font-weight-bold py-3 mb-4">
        Personal Data
        </h4>

        <div class="card overflow-hidden bodyContainer">
        <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0 topOne">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active"  data-toggle="list" href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-setting">Personal Data</a>
                    </div>
                </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                    <div class="card-body">
                    <form method="POST" action=""  id="Gform">
                        {{ formE.hidden_tag() }}
                        
                        <div class="form-group">
                            <label class="form-label">Current Email</label>
                            <input type="email" name="currentEmail" class="form-control mb-1 inputType oldEmail" placeholder="{{current_user.email}}" disabled>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <input type="text" name="phoneNumber" class="form-control inputType phoneNumber">
                        </div>
                        <div class="form-group">
                            {{ formE.new_email.label(class="form-control-label") }}
                            {% if formE.new_email.errors %}
                                {{ formE.new_email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.new_email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formE.new_email(class="form-control form-control-lg") }}
                            {% endif %}
                            
                        </div>
                        <div class="form-group">
                            {{ formE.submit(class="btn btn-primary") }}
                            &nbsp;
                        </div>
                        
                    </form>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="account-change-password">
                <div class="card-body pb-2">
                    <form method="POST" action="" id="passwordChangeForm">
                        {{ formP.hidden_tag() }}

                        <div class="form-group">
                            <label class="form-label">Current Password</label>
                            <input type="password" name="currentPassword" required class="form-control inputType">
                        </div>
    
                        <div class="form-group">
                            {{ formP.new_password.label(class="form-control-label") }}
                            {% if formP.new_password.errors %}
                                {{ formP.new_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.new_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formP.new_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
        
                        <div class="form-group">
                            {{ formP.confirm_password.label(class="form-control-label") }}
                            {% if formP.confirm_password.errors %}
                                {{ formP.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formP.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ formP.submit(class="btn btn-primary") }}&nbsp;
                        </div>
                        
                    </form>


                </div>
            </div>
                
            <div class="tab-pane fade" id="account-social-links">
                <div class="card-body pb-2">
                    <form method="POST" action="" id="socialsForm">
                        <div class="form-group">
                            {{ formS.twitter.label(class="form-control-label") }}
                            {% if formS.twitter.errors %}
                                {{ formS.twitter(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.twitter.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formS.twitter(class="form-control form-control-lg",value="https://twitter.com/user") }}
                            {% endif %}
                            
                        </div>
                        <div class="form-group">
                            {{ formS.instagram.label(class="form-control-label") }}
                            {% if formS.instagram.errors %}
                                {{ formS.instagram(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.instagram.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formS.instagram(class="form-control form-control-lg",value="https://www.instagram.com/user") }}
                            {% endif %}
                            
                        </div>
                        <div class="form-group">
                            <button type="submit" name='changeSocialLinks' class="btn btn-primary " value="Save changes">Save changes</button>&nbsp;
                        </div>
                        
                        
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="account-setting">
                <div class="card-body pb-2 ">
                    <h3>Personal Data</h3>
                    <section>
                        <p>Your account contains personal data that you have given us. This page allows you to delete that data.</p>
                        <h6><b>Deleting this data will permanently remove your account, and this can not be recovered.</b></h6>
                        <button  type="button" class="btn btn-danger "data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </section>
                    <!-- name="deleteAccount" value="delete" -->
                    
    
                </div>
            </div>
            <div class="tab-pane fade" id="account-notifications">
                <div class="card-body pb-2">
  
              <h6 class="mb-4">Application</h6>
              <form method="POST" action="" id="preferncesForm">
                      <div class="form-group">
                        <label class="switcher">
                          <input type="checkbox" name="newsLetterCheckbox" value="1" >
                          <span class="switcher-indicator">
                            <span class="switcher-yes"></span>
                            <span class="switcher-no"></span>
                          </span>
                          <span class="switcher-label">Our Newsletter</span>
                        </label>
                      </div>
                      <!-- <div class="form-group">
                        <label class="switcher">
                          <input type="checkbox" class="switcher-input">
                          <span class="switcher-indicator">
                            <span class="switcher-yes"></span>
                            <span class="switcher-no"></span>
                          </span>
                          <span class="switcher-label">Weekly product updates</span>
                        </label>
                      </div>
                      <div class="form-group">
                        <label class="switcher">
                          <input type="checkbox" class="switcher-input" checked="">
                          <span class="switcher-indicator">
                            <span class="switcher-yes"></span>
                            <span class="switcher-no"></span>
                          </span>
                          <span class="switcher-label">Weekly blog digest</span>
                        </label>
                      </div> -->
                      <button type="submit" name="subscribe" value="Save changes" class="btn btn-primary svbutton saveChange">Save changes</button>&nbsp;
                  </form>
                
            
        </div>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will permanently remove your account!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <form method="POST" action="">
                        <input type="submit" name="deleteAcc" value="delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block footer %}
{% endblock %}

{% block otherjs %}
    <!--Jquery Cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).on('submit',function(e)
                    {
        e.preventDefault();
        
        });
    </script> -->
{% endblock %}