{% extends "layout.html" %}

{% block otherstyle %}
   
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container light-style flex-grow-1 py-5">
        <main role="main" class="container">
            <div class="row">
              <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
        
            </div>
        </main>

        <h4 class="font-weight-bold py-3 mb-4">
        Personal Data
        </h4>

        <div class="card overflow-hidden bodyContainer">
        <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0 topOne">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active"  data-toggle="list" href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-setting">Personal Data</a>
                    </div>
                </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                    <div class="card-body">
                    <form method="POST" action="./{{current_user.id}}"  id="Gform">
                        <div class="form-group">
                            <label class="form-label">E-mail</label>
                            <input type="email" name="currentEmail" class="form-control mb-1 inputType oldEmail" placeholder="example@example.com" disabled>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number {{current_user.id}}</label>
                            <input type="text" name="phoneNumber" class="form-control inputType phoneNumber">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Change Email</label>
                            <input type="email" name="newEmail" class="form-control inputType mb-1 newEmail">
                        </div>
                        <div class="form-group">
                            <button type="submit" name='changeEmail' class="btn btn-primary " value="Change Email">Change Email</button>&nbsp;
                        </div>
                        
                    </form>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="account-change-password">
                <div class="card-body pb-2">
                    <form method="POST" action="./{{current_user.id}}" id="passwordChangeForm">
                        <div class="form-group">
                            <label class="form-label">Current password</label>
                            <input type="password" name="currentPassword" required class="form-control inputType">
                        </div>
    
                        <div class="form-group">
                            <label class="form-label">New password</label>
                            <input type="password" name="newPassword"  required  class="form-control inputType">
                        </div>
        
                        <div class="form-group">
                            <label class="form-label">Confirm new password</label>
                            <input type="password" name="confirmPassword" required class="form-control inputType">
                        </div>
                        <div class="form-group">
                            <button type="submit" name='changePassword' class="btn btn-primary " value="Change Password">Change Password</button>&nbsp;
                        </div>
                        
                    </form>


                </div>
            </div>
                
            <div class="tab-pane fade" id="account-social-links">
                <div class="card-body pb-2">
                    <form method="POST" action="./{{current_user.id}}" id="socialsForm">
                        <div class="form-group">
                            <label class="form-label">Twitter</label>
                            <input type="text" name="twitter" class="form-control inputType" value="https://twitter.com/user">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Instagram</label>
                            <input type="text" name="instagram" class="form-control inputType" value="https://www.instagram.com/user">
                        </div>
                        <div class="form-group">
                            <button type="submit" name='changeSocialLinks' class="btn btn-primary " value="Save changes">Save changes</button>&nbsp;
                        </div>
                        
                        
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="account-setting">
                <div class="card-body pb-2 ">
                    <h3>Personal Data</h3>
                    <section>
                        <p>Your account contains personal data that you have given us. This page allows you to delete that data.</p>
                        <h6><b>Deleting this data will permanently remove your account, and this can not be recovered.</b></h6>
                        <button name="deleteAccount" class="btn btn-danger deleteAcc">Delete</button>
                    </section>
                    
    
                </div>
            </div>
                
            
        </div>
        
    </div>


{% endblock content %}

{% block footer %}
{% endblock %}

{% block otherjs %}
    <!--Jquery Cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).on('submit',function(e)
                    {
        e.preventDefault();
        
        });
    </script> -->
{% endblock %}