{% extends "layout.html" %}

{% block otherstyle %}
   <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/cinema.css') }}" >

{% endblock %}

{% block content %}
<div class="content h-100 pb-5 py-4 mx-auto">
    <div class="px-3">
      <div>
        <div class="container-fluid mb-4">
          <div class="row">
            <div class="col-md-2 px-0"><img class="img-fluid img-responsive poster " src="../static/images/{{movie.postor}}"
                style="opacity: 1;filter: blur(0px);"></div>
            <div class="col-md-10 ">
              <div class="card trans text-white h-100" style="border: none;">
                <div class="card-header px-0" style="border: none;">
                  <h5 class="mb-0  movieTitle h3">{{movie.title}}</h5>
                </div>
                <div class="card-text">
                  <div class="text-muted releaseDate d-inline cstext">{{movie.release}}</div>
                  <div class="d-inline pl-2 cstext prodCompany" style="color: #0047ab;">{{movie.airedBy}}</div>
                </div>
                <i class="bottomBorder pt-3"></i>
                <div class="card-body px-3">
                  <div class="row py-0">
                    <p class="ratingOverall shadow d-inline">
                      {{movie.idmbRating}}
                    </p>
                    <div class="pl-2 text-warning d-inline ratingStarsContainner">
                    </div>
                    <i class="d-block w-100 bottomBorder"></i>
                  </div>
                  <div class="row px-0 py-2">
                    <div class="sgeneros container-fluid px-0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <i class="d-block w-100 bottomBorder"></i>
    <div class="container-fluid px-0">
      <div>
        <ul class="nav nav-tabs tabButtonContainer my-2 px-3" role="tablist">
          <li class="nav-item" role="presentation"><a class="nav-link tabButton  mr-2 active" role="tab"
              data-toggle="tab" href="#tab-1">Info</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link tabButton mr-2 " role="tab" data-toggle="tab"
              href="#tab-2">Trailer</a></li>
        </ul>
        <i class="d-block w-100 bottomBorder"></i>
        <div class="tab-content mt-4 px-3">
          <div class="tab-pane active container-fluid" role="tabpanel" id="tab-1">
            <div class="container-fluid px-0">
              <p class="h5 text-white pb-3">
                Synopsis
              </p>
              <p class="desc h6 pb-1">
                <h1>{{movie.description}}</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis velit nobis, eaque tempore aperiam
                ducimus neque ipsam harum necessitatibus, unde modi exercitationem totam beatae odit blanditiis, amet
                enim rerum. Dolore?
                
              </p>
              <i class="d-block w-100 bottomBorder"></i>
            </div>
            <div class="container-fluid px-0 py-3">
              <h1 id="Ctheadline" class="h5 text-white py-2">Countdown till the next screening:</h1>
              <div id="countdown">
                <ul>
                  <li class="text-center countDownLists"><span id="days"></span>days</li>
                  <li class="text-center countDownLists"><span id="hours"></span>Hours</li>
                  <li class="text-center countDownLists"><span id="minutes"></span>Minutes</li>
                  <li class="text-center countDownLists"><span id="seconds"></span>Seconds</li>
                </ul>
              </div>
              <p class="h6 my-3 ">Ticket Availablity: <span class="availaibleTickets text-white"></span></p>
              <button class="btn btn-primary getTicket" type="button">Get Your Seats Now!</button>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="tab-2">
            <p class="h5 pb-2 text-white">Video trailer</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item videoTrailer" src="{{movie.trailer}}" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <i class="d-block w-100 bottomBorder"></i>
    <div class="social-icons container-fluid py-3">
      <p class="d-inline pr-2 mr-2 h6 text-white genere">Share</p>
      <a href="https://www.facebook.com/sharer.php?u=https://DreamCinema.com" target="__blank" class="d-inline fb"><i class="icon fa fa-facebook"></i></a>
      <a href="https://twitter.com/intent/tweet?text=Loving &url=https://DreamCinema.com" target="__blank" class="d-inline tw"><i class="icon fa fa-twitter"></i></a>
    </div>
    <i class="d-block w-100 bottomBorder"></i>
    <div class="container-fluid my-3">
      <h1 class="h5 mb-3 "><i class="text-white fa fa-user-circle mr-2" style="font-size: large;"></i> <span
          class="commentsNum">(0) Comments</span></h1>
      <i class="d-block w-100 bottomBorder"></i>
      <div class="container-fluid comments">
        {% for comment in comments %}
          <div class="media my-4">
            <img class="align-self-start rounded-circle mr-3" style="max-width: 64px;" src="https://st3.depositphotos.com/13159112/17145/v/600/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg" alt="User">
            <div class="media-body pl-3 leftBorder">
              <h5 class="mt-0 text-white">{{comment.comment}}</h5>
              
            </div>
            <div class="text-muted d-inline cstext">{{comment._date}}</div>
          </div>
        {% endfor %}
      </div>
      <div class="container-fluid my-4">
        <h1 class="h5 text-white"> <i class="fa fa-comments" style="color: #0047ab;"></i> Leave a comment</h1>
        <form method="POST" id="comment">
          <textarea name='commentArea' class="form-control commentArea my-2" placeholder="Your comment..." rows="7" required>
          </textarea>
          <button name="commentSubmit" class="btn btn-dark mb-2 commentSubmit" type="submit">Post Comment</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}


{% block otherjs %}
    
    <script src="../static/js/navbar.js"></script>
{% endblock %}

 <!-- <script src="{{ url_for('static', filename='js/cinema.js') }}"></script> -->