{% extends "layout.html" %}

{% block otherstyle %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
{% endblock %}
	

{% block content %}
    <!-- Header Carousel Images -->
    <div id="headerCarousel" class="carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#headerCarousel" data-slide-to="0" class=""></li>
            <li data-target="#headerCarousel" data-slide-to="1" class=""></li>
            <li data-target="#headerCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slider">
                <img class="first-slide headerImage img-fluid" src="{{ url_for('static', filename='images/end_game.jpg') }}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption caption">
                        <h1>Avengers: Age of Ultron</h1>
                        <p>Airs in all cinemas on Feb 25</p>
                        <p><a class="btn btn-lg btn-primary " href="https://www.youtube.com/watch?v=2wcj6SrX4zw"
                                target="_blank" role="button">Watch Trailer</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider ">
                <img class="second-slide headerImage img-fluid" src="{{ url_for('static', filename='images/hunger.jpg') }}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption caption">
                        <h1>Hunger Games</h1>
                        <p>Airs in all cinemas on Feb 18</p>
                        <p><a class="btn btn-lg btn-primary " href="https://www.youtube.com/watch?v=ue80QwXMRHg"
                                target="_blank" role="button">Watch Trailer</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider active">
                <img class="third-slide headerImage  img-fluid" src="{{ url_for('static', filename='images/Black Panther.jpg') }}"
                    alt="Third slide">
                <div class="container">
                    <div class="carousel-caption caption">
                        <h1>Black Panther</h1>
                        <p>Airs in all cinemas on Feb 18</p>
                        <p><a class="btn btn-lg btn-primary" href="https://www.youtube.com/watch?v=xjDjIWPwcPU"
                                target="_blank" role="button">Watch Trailer</a></p>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Top Shows Container -->
    <div class="container mt-3">
        <h1>Today Shows</h1>
        <div id="top-shows" class="carousel slide carousel_slider" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card topShowCard">
                                <img class="img-fluid topShowsImage" alt="100%x100%"
                                    src="{{ url_for('static', filename='images/malificent.jpg') }}">
                                <div class="card-body">
                                    {% block ticket%}
                                        Mid = 1
                                        <h4 class="card-title">Malificent</h4>
                                        {% for movie in movies%}
                                            {% if movie.title == "Mebea's" %}
                                                <a class="btn topShowBtn" href="{{ url_for('cinema',id=movie.id) }}" target="_blank">Get Ticket</a>
                                                
                                            {% endif %}
                                        {% endfor %}
                                        
                                    {% endblock %}

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card topShowCard">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/aqua.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Aqua Man</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%"
                                    src="{{ url_for('static', filename='images/ferdinand.jpg') }}">
                                <div class="card-body">
                                    
                                        <h4 class="card-title">Ferdinand</h4>
                                        {% for movie in movies%}
                                            {% if movie.title == "Ferdinand" %}
                                                <a class="btn topShowBtn" href="{{ url_for('cinema',id=movie.id) }}" target="_blank">Get Ticket</a>
                                                
                                            {% endif %}
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/12yr.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">12 Years a Slave</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card topShowCard">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/MI.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Mission: Impossible</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%"
                                    src="{{ url_for('static', filename='images/persuitOf happiness.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">The Pursuit of Happiness</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card topShowCard">
                                <img class="img-fluid topShowsImage" alt="100%x100%"
                                    src="{{ url_for('static', filename='images/pocccccccc.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Pirates of the Carribean</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/wick.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">John Wick: Chapter 3</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class=" col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/bppp.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Black Panther</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/endgame.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Avengers Endgame</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/GOT.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Game of Thrones</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 topShowCard">
                            <div class="card">
                                <img class="img-fluid topShowsImage" alt="100%x100%" src="{{ url_for('static', filename='images/Thor3.jpg') }}">
                                <div class="card-body">
                                    <h4 class="card-title">Thor Ragnarok</h4>
                                    <a class="btn topShowBtn" href="{{ url_for('cinema',id=1) }}" target="_blank">Get Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <a class="btn " href="#top-shows" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn " href="#top-shows" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>
    <!-- First Parrallex -->
    <div class="container-fluid">
        <div class="parallax  align-items-center ">
            <div class="row theatre align-items-center">
                <div class="col-md-12 theatreCol text-center">
                    <h1><i>Today In Theatre</i></h1>
                    <p><i>
                            <h3>Action, Adventure, Fantasy</h3>
                        </i></p>
                    <p><i>
                            <h4>Reserve Your Seat before You Miss Tommorow!!</h4>
                        </i> </p>
                    <a href="{{ url_for('cinema',id=1) }}"><button class="btn btn-lg parallexBtn">Discover Now</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- new items  -->
    <div class="container-fluid main-con">
        <div class="newitems mb-4">
            <div class="tabContainer">
                <h1 class="title mt-2"><i>New Items</i> </h1>
                <div class="buttonContainer">
                    <button onclick="showPanel(0,'')" id="button1">New Release</button>
                    <button onclick="showPanel(1,'')" id="button2">Movies</button>
                    <button onclick="showPanel(2,'')" id="button4">Cartoons</button>
                </div>

                <div class="tabPanel">
                    <!-- New releases -->
                    <p></p>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/NoTimeToDie.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">No Time TO Die</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/fast9.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Fast and Furious 9</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/GodzilaVs.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Godzilla Vs Kong</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/fre.jpg') }}" data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Free Guy 2021</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tabPanel">
                    <!-- movies -->
                    <p> </p>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/mulan.jpeg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Mulan</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/black widow.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Black Widow</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/holidate.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Holidate</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/jocker.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Joker 2</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="tabPanel">
                    <p></p>
                    <!-- Cartoons -->
                    <div class="row ">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/croods.jpg') }}"
                                    data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Croods New Age</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/tom.jpg') }}" data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Tom and Jerry</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/raya.png') }}" data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Raya</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card hovereffect">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]" src="{{ url_for('static', filename='images/gru.jpg') }}" data-holder-rendered="true">
                                <div class="overlay">
                                    <a class="info" href="{{ url_for('cinema',id=1) }}">Get Ticket</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Rise of Gru</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- second Parralax  -->
    <div class="container-fluid">
        <div class="subscribe  align-items-center ">
            <div class="row theatre align-items-center">
                <div class="col-md-12 theatreCol text-center">
                    <h1><i>Action </i><i class="adve"> Adventure</i><i> Fantasy</i></h1>
                    <p><i>
                            <h3 class="adve">Be The First To Know</h3>
                        </i>
                    </p>
                    <h4>Reserve Your Seat before You Miss Tommorow!!</h4>
                    <a href="{{ url_for('login') }}"><button class="btn btn-lg btn-danger subButton">Subscribe</button></a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock content %}

{% block otherjs %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="../static/js/navbar.js"></script>
{% endblock %}