
{% extends "layout.html" %}
{% block otherstyle %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    
{% endblock %}
{% block content %}
    <div class="main">
        <div class="wrapper">
        <div class="title-text">
            <div class="title login">Login</div>
            <div class="title signup">Signup</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
            <form class="login" id="signinform" method="POST" action="">
                <div class="field">
                <span class="fa fa-user icons" aria-hidden="true"></span>
                <input type="email" placeholder="Email Address" name="userEmailLog" required class="emailform">
                </div>
                <div class="field">
                <span class="fa fa-lock icons" aria-hidden="true"></span>
                <input type="password" placeholder="Password" name="userPasswordLog" required class="password">
                </div>
                <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" name="login" value="Login">
                </div>
                <div class="signup-link">Don't have account? <a href="">Signup now</a></div>
            </form>
            <form class="signup" id="signupform" method="POST" action="">
                <div class="field">
                    <span class="fa fa-user icons" aria-hidden="true"></span>
                    <input type="text" placeholder="Username" name="userName" required class="emailform">
                </div>
                <div class="field">
                    <span class="fa fa-envelope-square icons" aria-hidden="true"></span>
                    <input type="email" placeholder="Email Address" name="userEmail" required class="emailform">
                </div>
                <div class="field">
                    <span class="fa fa-lock icons" aria-hidden="true"></span>
                    <input type="password" placeholder="Password" name="userPassword" required class="password">
                </div>
                <div class="field">
                    <span class="fa fa-lock icons" aria-hidden="true"></span>
                    <input type="password" placeholder="Confirm password" required class="confirmPassword">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" name="signup" value="Signup">
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    
{% endblock content %}
{% block otherjs%}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{%endblock%}


